*{
    margin: 0;
}

.MusicPlan {
    height: 80px;
    width: 275px;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Red Hat Display', sans-serif;
}

.MusicPlan > .Text-Container{
    margin: 0;
}

.MusicPlan > .Text-Container > .Title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.MusicPlan > .Text-Container > .Price {
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.MusicPlan > .Hyperlink {
    font-weight: 700;
    margin-left: 24px;
    
}

.MusicPlan > .Hyperlink:hover {
    cursor: pointer;
}


@media (max-width: 767px) {
    .MusicPlan {
        height: 80px;
        width: 275px;
    }
    .MusicPlan > .Text-Container > .Title {
        font-size: 14px;
    }

    .MusicPlan > .Text-Container > .Price {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .MusicPlan {
        height: 95px;
        width: 350px;
    }
    .MusicPlan > .Text-Container > .Title {
        font-size: 16px;
    }

    .MusicPlan > .Text-Container > .Price {
        font-size: 16px;
    }
}



