.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./images/pattern-background-desktop.svg');
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .App {
    background-image: url('./images/pattern-background-mobile.svg');
  }
}

@media (min-width: 768px) {
  .App {
    background-image: url('./images/pattern-background-desktop.svg');
  }
}

.App > .Container {
  min-height: 100%;
  width: 100%;
}

